h1,h2{
    font-family: monospace;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
body{
    font-family: cursive;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
    margin-top: 30px;
    display: flex;
    list-style: none;
}

.header_item a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 0 20px;
}

.container{
    display: flex;
    margin-top: 30px;
}
.container hr {
    width: 30%;
}
.aboutme h2{
    margin: 0%;
}
img{
    border-radius: 40px;
    margin-left: 20px;
}

.projectlist li {
    list-style-type: georgian;
    margin-left: 20px;
}

.skill {
    display: flex;
}
.fa-brands{
    font-size: 4rem;
    padding: 0 2rem;
}

footer{
    margin-top: 2rem;
    text-align: center;
}

footer div {
    padding: 0 3rem 20px;
}

button{
    margin: 1rem 4rem;
    font-size: .8rem;
    padding: 1rem;
    border-radius: 30px;
    border: none;
}
button a {
    text-decoration: none;
    color: black;
}

#game{
    height: 40vh;
    background: aquamarine;
}

#ball{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: tomato;
    position: relative;
    transition-duration: 5s ease-in;
}


